<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @active_stat.id %>
</p>

<p>
  <b>Team:</b>
  <%= @active_stat.team_id %>
</p>

<p>
  <b>Name:</b>
  <%= @active_stat.name %>
</p>

<p>
  <b>Gp:</b>
  <%= @active_stat.gp %>
</p>

<p>
  <b>Fgm:</b>
  <%= @active_stat.fgm %>
</p>

<p>
  <b>Fga:</b>
  <%= @active_stat.fga %>
</p>

<p>
  <b>Ftm:</b>
  <%= @active_stat.ftm %>
</p>

<p>
  <b>Fta:</b>
  <%= @active_stat.fta %>
</p>

<p>
  <b>Reb:</b>
  <%= @active_stat.reb %>
</p>

<p>
  <b>Ast:</b>
  <%= @active_stat.ast %>
</p>

<p>
  <b>Stl:</b>
  <%= @active_stat.stl %>
</p>

<p>
  <b>Blk:</b>
  <%= @active_stat.blk %>
</p>

<p>
  <b>Pts:</b>
  <%= @active_stat.pts %>
</p>

<p>
  <b>Fpts:</b>
  <%= @active_stat.fpts %>
</p>


<%= link_to 'Edit', edit_active_stat_path(@active_stat) %> |
<%= link_to 'Back', active_stats_path %>
